# Data Extraction and cleaning

- get data from restricted folder

In [16]:
import pandas as pd
from pathlib import Path

SHAREFOLDER = Path('/mnt/share/')
DATAFOLDER = SHAREFOLDER / 'histo/NO-TO'
filenames = list(DATAFOLDER.iterdir())
[f.name for f in filenames]

['FY18_Monthly Frozen_P12.xlsx',
 'FY19_Monthly Frozen_P12.xlsx',
 'FY20_Monthly Frozen_P12.xlsx',
 'FY21_Monthly Frozen_P12.xlsx',
 'FY22_Monthly Frozen_P12_BI.xlsx',
 'FY23_Monthly Frozen_P12.xlsx']

In [17]:
# FY16
# pip install python-calamine
fn  = filenames[0]
df = pd.read_excel(fn, skiprows=0, index_col=0, engine='calamine')
# df = df.loc[df['BU Segment']=='FA AS']
# df = df.groupby(['Frozen Date', 'Company CNOC', 'Sales Branch', 'Sales Type'])['OR Value'].sum().reset_index()
# df['Frozen Date'] = pd.to_datetime(df['Frozen Date'])
# order = pd.concat([order, df], ignore_index=True)
# df['OR Value'].sum()
df

,SPD,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
Division2,,,,,,,,
GBK,(All),NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sum of OR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BU,BU2,AKZ,Total,NaN,GBK,BU2,Sum of OR Value RMB,Sum of TO Value RMB
LD,LD P,3004215011,2307446.16,NaN,P1S3,CS LD P,4322732.09,4735537.87
...,...,...,...,...,...,...,...,...
NaN,NaN,3004178069,-28535.04,NaN,NaN,NaN,NaN,NaN
NaN,NaN,3004048445,-174876.82,NaN,NaN,NaN,NaN,NaN
NaN,LD P Total,NaN,56966719.091,NaN,NaN,NaN,NaN,NaN
LD Total,NaN,NaN,56966719.091,NaN,NaN,NaN,NaN,NaN
Grand Total,NaN,NaN,56966719.091,NaN,NaN,NaN,NaN,NaN