In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("data/orders_encoded.csv")
df.head()

,PostDate,month,FiscalYear,AssignType,channel,BuyerType,OrderNum,ProductLine,Territory,Sales,Buyer,AssignedCustomer,OR,TO
0,2017-10-31,2017-10,FY18,Assign_TO,CHA00000003,Dealer,ORD00000033,PRO00000001,TER00000005,SAL00000001,BUY00000019,ASS00001348,74629.79,74629.79
1,2017-10-31,2017-10,FY18,Assign_TO,CHA00000003,Dealer,ORD00000034,PRO00000001,TER00000004,SAL00000046,BUY00000048,ASS00001789,23405.08,23405.08
2,2017-10-31,2017-10,FY18,Assign_TO,CHA00000003,Dealer,ORD00000036,PRO00000000,TER00000003,SAL00000021,BUY00000048,ASS00000395,15310.63,15310.63
3,2017-10-31,2017-10,FY18,Assign_TO,CHA00000003,Dealer,ORD00000036,PRO00000000,TER00000004,SAL00000046,BUY00000048,ASS00001789,2841.88,2841.88
4,2017-10-31,2017-10,FY18,Assign_TO,CHA00000003,OEM,ORD00000037,PRO00000000,TER00000003,SAL00000043,BUY00000048,ASS00000474,4702.64,4702.64

In [8]:
df.AssignType.unique()

array(['Assign_TO', 'Reassign_TO', 'Rebalance_TO', 'Direct', 'Balance_TO'],
      dtype=object)

In [9]:
df.channel.unique()

array(['CHA00000003', 'CHA00000000', 'CHA00000001', 'CHA00000004',
       'CHA00000002'], dtype=object)

In [10]:
df.BuyerType.unique()

array(['Dealer', 'OEM', 'End-User'], dtype=object)

In [11]:
df.Territory.unique()

array(['TER00000005', 'TER00000004', 'TER00000003', 'TER00000006',
       'TER00000007', 'TER00000000', 'TER00000002', 'TER00000001'],
      dtype=object)

In [12]:
df.ProductLine.unique()

array(['PRO00000001', 'PRO00000000', 'PRO00000003', 'PRO00000002',
       'PRO00000005', 'PRO00000009', 'PRO00000011', 'PRO00000012',
       'PRO00000010', 'PRO00000006', 'PRO00000004', 'PRO00000007',
       'PRO00000008'], dtype=object)